body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1145px;
}
#u1426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:140px;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:103px;
  width:334px;
  height:140px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:157px;
  width:50px;
  height:43px;
}
#u1429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:124px;
  width:124px;
  height:19px;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:124px;
  word-wrap:break-word;
}
#u1431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:218px;
  width:70px;
  height:19px;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:146px;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:257px;
  width:334px;
  height:146px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:311px;
  width:50px;
  height:43px;
}
#u1434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:275px;
  width:114px;
  height:19px;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:114px;
  word-wrap:break-word;
}
#u1436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:372px;
  width:70px;
  height:19px;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:142px;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:420px;
  width:334px;
  height:142px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:474px;
  width:50px;
  height:43px;
}
#u1439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:445px;
  width:92px;
  height:19px;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:92px;
  word-wrap:break-word;
}
#u1441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:535px;
  width:70px;
  height:19px;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u1442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:1087px;
  width:326px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u1442_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:322px;
  word-wrap:break-word;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1444_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:12px;
  width:333px;
  word-wrap:break-word;
}
#u1445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u1445 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:11px;
  height:18px;
}
#u1445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1447 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:6px;
  width:82px;
  height:33px;
}
#u1447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1448 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:12px;
  width:20px;
  height:20px;
}
#u1448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u1449 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:13px;
  width:1px;
  height:18px;
}
#u1449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1450 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:14px;
  width:16px;
  height:16px;
}
#u1450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5D6D7D;
}
#u1452 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:70px;
  width:183px;
  height:16px;
  font-size:14px;
  color:#5D6D7D;
}
#u1452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u1453 {
  position:absolute;
  left:314px;
  top:66px;
}
#u1453_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background-image:none;
}
#u1453_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u1454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  color:#A80000;
}
#u1454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1453_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u1453_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u1455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1456 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:66px;
  width:40px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:140px;
}
#u1459 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:578px;
  width:334px;
  height:140px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u1460 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:632px;
  width:50px;
  height:43px;
}
#u1460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1461 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:599px;
  width:124px;
  height:19px;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:124px;
  word-wrap:break-word;
}
#u1462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1462 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:693px;
  width:70px;
  height:19px;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1462_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u1463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:146px;
}
#u1464 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:732px;
  width:334px;
  height:146px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u1465 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:786px;
  width:50px;
  height:43px;
}
#u1465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1466 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:750px;
  width:114px;
  height:19px;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:114px;
  word-wrap:break-word;
}
#u1467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1467 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:847px;
  width:70px;
  height:19px;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u1468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:142px;
}
#u1469 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:895px;
  width:334px;
  height:142px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1469_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u1470 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:949px;
  width:50px;
  height:43px;
}
#u1470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1471 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:920px;
  width:92px;
  height:19px;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1471_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:92px;
  word-wrap:break-word;
}
#u1472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1472 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:1010px;
  width:70px;
  height:19px;
  font-size:13px;
  color:#A6B4C0;
  text-align:center;
}
#u1472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u1473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(251, 253, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#687E8F;
}
#u1474 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1094px;
  width:375px;
  height:49px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#687E8F;
}
#u1474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u1475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(251, 253, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#687E8F;
}
#u1475 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1042px;
  width:375px;
  height:49px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#687E8F;
}
#u1475_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u1476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(251, 253, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#687E8F;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:992px;
  width:375px;
  height:49px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#687E8F;
}
#u1476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
