body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1531px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:411px;
  width:220px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-1px;
  width:67px;
  height:29px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:418px;
  width:55px;
  height:18px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:63px;
  height:26px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:420px;
  width:52px;
  height:15px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:935px;
  height:672px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:446px;
  width:935px;
  height:672px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:380px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:7px;
  width:970px;
  height:380px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:25px;
  width:535px;
  height:1704px;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  color:#FFFFFF;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:30px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:0px;
  width:244px;
  height:30px;
  color:#FFFFFF;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:240px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:0px;
  width:196px;
  height:30px;
  color:#FFFFFF;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:192px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:52px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:95px;
  height:52px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:91px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:52px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:30px;
  width:244px;
  height:52px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:240px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:52px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:30px;
  width:196px;
  height:52px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:192px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:55px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:95px;
  height:55px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:91px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:55px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:82px;
  width:244px;
  height:55px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:240px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:55px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:82px;
  width:196px;
  height:55px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:192px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:55px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:137px;
  width:95px;
  height:55px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:91px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:55px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:137px;
  width:244px;
  height:55px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:240px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:55px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:137px;
  width:196px;
  height:55px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:192px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:55px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:95px;
  height:55px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:91px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:55px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:192px;
  width:244px;
  height:55px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:240px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:55px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:192px;
  width:196px;
  height:55px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:55px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:247px;
  width:95px;
  height:55px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:91px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:55px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:247px;
  width:244px;
  height:55px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:240px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:55px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:247px;
  width:196px;
  height:55px;
  color:#0000FF;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:192px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:55px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:302px;
  width:95px;
  height:55px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:91px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:55px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:302px;
  width:244px;
  height:55px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:240px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:55px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:302px;
  width:196px;
  height:55px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:192px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:55px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:357px;
  width:95px;
  height:55px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:91px;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:55px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:357px;
  width:244px;
  height:55px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:240px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:55px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:357px;
  width:196px;
  height:55px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:55px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:412px;
  width:95px;
  height:55px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:91px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:55px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:412px;
  width:244px;
  height:55px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:240px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:55px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:412px;
  width:196px;
  height:55px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:62px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:467px;
  width:95px;
  height:62px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:91px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:62px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:467px;
  width:244px;
  height:62px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:240px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:62px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:467px;
  width:196px;
  height:62px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:192px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:62px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:529px;
  width:95px;
  height:62px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:91px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:62px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:529px;
  width:244px;
  height:62px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:240px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:62px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:529px;
  width:196px;
  height:62px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:62px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:591px;
  width:95px;
  height:62px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:91px;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:62px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:591px;
  width:244px;
  height:62px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:240px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:62px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:591px;
  width:196px;
  height:62px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:192px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:62px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:653px;
  width:95px;
  height:62px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:91px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:62px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:653px;
  width:244px;
  height:62px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:240px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:62px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:653px;
  width:196px;
  height:62px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:192px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:68px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:715px;
  width:95px;
  height:68px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:91px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:68px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:715px;
  width:244px;
  height:68px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:240px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:68px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:715px;
  width:196px;
  height:68px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:192px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:62px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:783px;
  width:95px;
  height:62px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:91px;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:62px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:783px;
  width:244px;
  height:62px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:240px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:62px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:783px;
  width:196px;
  height:62px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:192px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:62px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:845px;
  width:95px;
  height:62px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:91px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:62px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:845px;
  width:244px;
  height:62px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:240px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:62px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:845px;
  width:196px;
  height:62px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:340px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:907px;
  width:95px;
  height:340px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:91px;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:340px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:907px;
  width:244px;
  height:340px;
  text-align:left;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:340px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:907px;
  width:196px;
  height:340px;
  text-align:left;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:192px;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:100px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1247px;
  width:95px;
  height:100px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:91px;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:100px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1247px;
  width:244px;
  height:100px;
  text-align:left;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:240px;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:100px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:1247px;
  width:196px;
  height:100px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:192px;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:100px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1347px;
  width:95px;
  height:100px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:91px;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:100px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1347px;
  width:244px;
  height:100px;
  text-align:left;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:240px;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:100px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:1347px;
  width:196px;
  height:100px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:68px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1447px;
  width:95px;
  height:68px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:91px;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:68px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1447px;
  width:244px;
  height:68px;
  text-align:left;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:240px;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:68px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:1447px;
  width:196px;
  height:68px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:192px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:68px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1515px;
  width:95px;
  height:68px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:91px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:68px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1515px;
  width:244px;
  height:68px;
  text-align:left;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:240px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:68px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:1515px;
  width:196px;
  height:68px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:192px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:68px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1583px;
  width:95px;
  height:68px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:91px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:68px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1583px;
  width:244px;
  height:68px;
  text-align:left;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:240px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:68px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:1583px;
  width:196px;
  height:68px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1651px;
  width:95px;
  height:53px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:91px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:53px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1651px;
  width:244px;
  height:53px;
  text-align:left;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:240px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:53px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:1651px;
  width:196px;
  height:53px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
